html(lang="es")
	head
		include ./meta.pug
		title Transmitiendo en vivo...
		script(src="/js/adapter.js")
		script(src="/js/simplewebrtc.js")
		script(src="/js/socket.io.js")
		script(src="/js/anfitrion.js" defer)
		script.
			localStorage.setItem("anfitrion", "#{anfitrion}");
	body
		.container.has-text-centered
			p ¡Comparte el enlace!
				p#enlace
		.columns.has-text-centered
			.column
				p Tu transmisión
				video#local
			.column
				p Chat
				#chat
			.column
				p Invitado
				#remoto
			#solicitantes.column
				button#aceptarInvitados.button.is-success Aceptar invitados
		
		.modal
			.modal-background
			.modal-content.box
				h3.title.has-text-centered Escribe el nombre de la sala que quieres iniciar
				form.field.has-addons
					p.control
						input#sala.input.is-rounded(type="text" placeholder="Nombre de la sala")
					p.control
						input#modalSala.button.is-primary.is-rounded(type="submit" value="Aceptar")