html(lang="es")
	head
		include ./meta.pug
		title Prelego
		script(src="/js/inicio.js" defer)
	body
		div.container.has-text-centered
			h1.title.is-1 Bienvenido a Prelego
			h2.subtitle Transmisiones en vivo sencillas
			div.columns
				div.column
					strong Entra a una tranmisión en vivo
					form
						div.field.has-addons
							p.control
								input#anfitrion.input.is-rounded(type="text" placeholder="Anfitrión")
							p.control
								button.button.is-static /
							p.control
								input#sala.input.is-rounded(type="text" placeholder="Sala")
						input#ir.button.is-primary.is-rounded(type="submit" value="Entrar a la transmisión")
				div.column
					strong Regístrate para comenzar una transmisión
					form.field.has-addons
						p.control
							input#nuevo.input.is-rounded(type="text" placeholder="Inserta un nombre")
						p.control
							input#comenzar.button.is-primary.is-rounded(type="submit" value="¡Comienza a transmitir!")